header{
    height: 60px;
    width: 100%;
    padding:10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);  
    position: fixed;
    font-size: 18px;
    top:0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
}
header .left img{
    height: 50px;
}
header .middle {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .middle .search-container {
    background-color: rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 60px;
    margin-left: -2px;
    border: 1px solid rgba(0,0,0,0.15);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}
header .middle .search-container i{
    font-size: 15px;
}
header .middle input{
    width: 70%;
    height: 80%;
    border: 1px solid rgba(0,0,0,0.15);
    padding-left: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right:none ;
    outline: none;
}
header .middle .search-container:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15) ,-2px -2px 5px rgba(0, 0, 0, 0.15) ;
        
}
header .right{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    justify-content: space-evenly;
}
header .right .cart img{
    height: 100%;
}
header .right a{
    color: black;
    text-decoration: none;
}
header .right a:hover{
    text-decoration: underline;
    color: rgba(0,0,0,0.5);
}

